* text=auto eol=lf

*.R      text eol=lf
*.Rmd    text eol=lf
*.cpp    text eol=lf
*.md     text eol=lf
*.cff    text eol=lf
*.csv    text eol=lf
*.txt    text eol=lf
*.Rproj  text eol=lf

*.rds    binary
*.pdf    binary
*.html   binary -diff
